* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
}

header {
  background-color: #9bcdff;
  color: white;
  border-bottom: 5px solid #519fec;
  padding: 10px 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  filter: drop-shadow(1px 1px 0px  #519fec);
}

nav a {
  text-decoration: none;
  color: white;
  filter: drop-shadow(1px 1px 0px  #519fec);
}

nav a:hover {
  color: #519fec;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

nav ul li {
  display: inline;
}

main {
  /* padding: 50px 150px; */
  width: 80%;
  margin: 25px auto;
  color: rgb(48, 48, 48);
}

main h2 {
  color: #519fec;
  margin-bottom: 5px;
}

main section {
  margin-bottom: 25px;
}

main section {
 display: flex;
 flex-wrap: wrap;
 gap: 25px;
}

main section h2 {
  width: 100px;
  padding-right: 25px;
  border-right: 2px solid #519fec;
}

#about-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

#project-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

#other-projects {
  display: flex;
  gap: 10px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9bcdff;
  padding: 5px;
}

.project-card a {
  text-decoration: none;
}

.project-card h3 {
  color: white;
  padding: 0 0 5px 5px;
}

.project-card img:hover {
  opacity: 0.6;
}
